<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Final project" parallel="tests">
    <listeners>
        <listener class-name="ui.listeners.Listener"/>
    </listeners>
    <test name="ChromeTestCases">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="uiTest.CrossBrowserTests"/>
        </classes>
    </test>
    <test name="FirefoxTestCases">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="uiTest.CrossBrowserTests"/>
        </classes>
    </test>
    <test name="EdgeTestCases">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="uiTest.CrossBrowserTests"/>
        </classes>
    </test>
    <test name="Regression">
        <classes>
            <class name="uiTest.DataProviderTests"/>
        </classes>
    </test>

</suite>