<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Final project">

    <listeners>
        <listener class-name="core.listeners.Listener"/>
        <listener class-name="core.listeners.RetryListener"/>
    </listeners>
    <test name="ChromeTestCases">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.DisplayHistoryTests"/>
            <class name="tests.UrlTests"/>
            <class name="tests.UserTests"/>
            <class name="tests.SmokeTests"/>
        </classes>
    </test>
    <test name="FirefoxTestCases">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.DisplayHistoryTests"/>
            <class name="tests.UrlTests"/>
            <class name="tests.UserTests"/>
            <class name="tests.SmokeTests"/>
        </classes>
    </test>

<!-- -->
</suite>